html {
    overflow: hidden;
  }
  /* 헤더 구역 */
  header {
    display: flex !important;
    align-items: center;
    justify-content: center;
    height: 16vh;
    background-color:black;
  }
  
  header > p {
    color: white;
    font-size: 88px;
    opacity: 0.7;
    font-weight: bold;
  }
  
  @media (max-width: 960px) {
    header > p {
      font-size: 9vw;
    }
  }
  /* 네비게이터 바 */
  .navbar{
    background-color: rgb(255, 192, 203);
  }
  /* 바디 시작 */
  .body-wrapper{
    display:flex;
  }
  /* 사이드 바 */
  aside {
    position: absolute;
    transform: translateX(0%);
    transition: all 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 73vh;
    width: 30%;
    max-width: 400;
    background-color: rgb(211, 211, 211);
  }
  /* 사이드바 버튼 */
  .button {
    width: 2vw;
    position: relative;
    top: 20px;
    left: 55%;
    cursor: pointer;
    font-size: 2vw;
  }
  /* 사이드바 사진 삽입 */
  .profile img{
    width: 10vw;
    height: 10vw;
    background-color: black;
  }
  /* 사이드바 컨텐츠 */
  .user-items {
    margin-top: 8px;
    width: 60%;
    word-break: break-all;
    text-align: center;
    color: black;
  }
  /* 사이드바 이름 */
  .user-items:nth-child(3){
      font-size: 3vw;
  }
  /* 섹션 */
  section {
    height: 73vh;
    width: 100%;
    display: flex !important;
    justify-content: flex-end;
    overflow-y: auto;
  }
  section > div {
    transition: all 0.2s;
    width:70%;
    height:100%;
    display: flex;
    justify-content: center;
  }
  
  section > div > div {
    height:100%;
    max-width: 700px;
    display:flex;
    flex-direction: column;
  }
  
  section > div > div > div {
    height: 80%;
    width: 100%;
    display:flex;
    flex-direction:column;
    margin-top: 10%;
  }
  /* 섹션 컨텐츠 */
  .title{
    text-align: center;
    font-size: 54px;
    display:inline;
  }
  
  #title-indent {
    height:40px;
    width:5px;
    background-color: darkgray;
    display:inline-block;
  }
  
  .date-wrapper{
    margin-top:20px;
  }
  
  .date-wrapper div{
    text-align: right;
    color: darkgrey;
  }
  
  .divider {
    width: 90%;
    margin-top:26px;
    align-self: center;
    border:black solid
  }
  
  .content {
    font-size: 40px;
    margin-top:30px
  }
  /* 푸터 스타일 */
  footer {
    background-color: rgb(240, 128, 128);
    height: 5vh;
    width: 100%;
    display:flex;
    justify-content:center;
    align-items: center;
  }
  
  .footer-wrapper{
    color: white;
    padding:8px;
    display:flex;
    justify-content: center;
  }
  
  .footer-items{
      color:white;
      padding-left: 12px;
  }
  /* 건드리지 마세요! */
  .act {
    width: 100% !important;
  }
  
  .hide {
    transform: translateX(-101%) !important;
  }